.header {
    height: 94px;
    position: relative;
    width: 1300px;
}

.header .line {
    height: 2px;
    left: 0;
    position: absolute;
    top: 92px;
    width: 1300px;
}

.header .avatar-icon {
    height: 40px;
    left: 1260px;
    position: absolute;
    top: 38px;
    width: 40px;
}

.header .home-icon {
    height: 40px;
    left: 1203px;
    position: absolute;
    top: 38px;
    width: 40px;
}

.header .searcher-instance {
    left: 986px;
    position: absolute ;
    top: 39px;
}

.header .logo-instance {
    height: 78px ;
    left: 0 ;
    position: absolute ;
    top: 0 ;
    width: 165px ;
}