@tailwind base;
@tailwind components;
@tailwind utilities;

#input-file{
    background-color: #fef9c3;
    width:  100%;
    height: 2.5rem;
    border-radius: 35px;
    border-style:solid;
    font-size: 10px;
    padding: 0px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}


::-webkit-file-upload-button {
    background:transparent;
    color:transparent;
    /* padding: 1em; */
    height: 100%;
    width: 20%;
    border:none;
}


